<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="static/css/tree.css">
    </head>
    <body>
        <script src="//d3js.org/d3.v3.min.js"></script>
        <script src="static/js/tree.js"></script>
        <!-- Source: https://planspace.org/20151129-see_sklearn_trees_with_d3/ -->
        <form>

            {% for column_name in column_names %}
                <select name="{{ column_name }}">
                    <option value="continuous" {{ 'selected' if request.args[column_name] == 'continuous' }}>{{ column_name }} as continuous</option>
                    <option value="categorical" {{ 'selected' if request.args[column_name] == 'categorical' }}>{{ column_name }} as categorical</option>
                    <option value="disabled" {{ 'selected' if request.args[column_name] == 'disabled' }}>{{ column_name }} as disabled</option>
                </select>
                <br>
            {% endfor %}

            {% for parameter_name, parameter_default, parameter_current in parameters %}
                <input name="{{ parameter_name }}" placeholder="{{ parameter_name }}" value="{{ parameter_current }}">{{ parameter_name }} (default: {{ parameter_default }})
                <br>
            {% endfor %}

            <input type="submit" value="Retrain decision tree">

        </form>
    </body>
</html>
